<h1>Welcome To Instucture's mini challenge</h1>

<p>This app is very simple. The requested data output is a way to view all assignments and grades for each student. Click below to do so. </p>


<button><a href="/show">View Data</a></button>
